/* Default Styles */
html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('https://media.discordapp.net/attachments/1226125769823092807/1232343879400030280/b7b715190586b985db6b5c46997fc54c.jpg?ex=66291d2c&is=6627cbac&hm=8c21bba451ecedcd79566d24b834742a6ba3ff9f6453a059ce579c9a1938fea4&=&format=webp&width=1782&height=1002');
  background-repeat: no-repeat;
  background-color: #171717;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  user-select: none;
  overflow: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  font-family: 'Dongle', sans-serif;
  color: white;
}

/* Defualt UI Styles */
.ui {
  box-shadow: 0px 0px 32px -6px rgb(0 0 0);
  border: solid 1px;
  border-color: rgb(255 255 255 / 58%);
  backdrop-filter: blur(12px);
  background-color: rgb(0 0 0 / 20%);
  border-radius: 10px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* UI Styles */
#contents {
  margin: auto;
  width: 430px;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: 0.4s linear 0s 1 unbluring;
}

#title {
  width: 100%;
  height: 40px;
  background-color: rgb(0 0 0 / 50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#title_text{
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
}

.message-show {
  top: calc(100% - 72px);
}

.message-comeout {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Message Styles */
.message-hide {
  top: calc(100% + 40px);
}

.message-frame {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 12px;
  width: fit-content;
  max-width: 460px;
  font-size: 25px;
  height: 55px;
  position: absolute;
  transition: ease top 300ms;
}

/* Discord User Styles */
#avatar-holder {
  position: relative;
}

#avatar-img {
  width: 150px;
  height: 150px;
  margin: 20px 0px 15px 0px;
  border-radius: 100%;
  box-shadow: 0px 0px 32px -6px rgb(0 0 0);
}

#avatar-deco{
  width: 180px;
  height: 180px;
  margin: 20px 0px 15px 0px;
  background-size: 100% 100%;
  position: absolute;
  top: -15px;
  left: -15px;
}

#profile-loading{
  width: 150px;
  height: 150px;
  font-size: 40px;
  margin: 20px 0px 15px 0px;
  background-size: 100% 100%;
  position: absolute;
  top: 0%;
  backdrop-filter: blur(15px);
  background-color: rgba(100, 100, 100, 0.108);
  border-radius: 100%;
}

#user-name{
  font-size: 40px;
  height: 25px;
  text-shadow: 0 0 7px black;
}

#discord-status {
  width: 22px;
  height: 22px;
  box-shadow: 0px 0px 14px 3px rgb(0 0 0);
  position: absolute;
  margin: 16px 16px 16px 16px;
  border-radius: 100%;
  left: 65%;
  top: 65%;
}

.online {
  background-color: #3BA55C;
}

.offline {
  background-color: #747F8D;
}

.idle {
  background-color: #FAA61A;
}

.dnd {
  background-color: #ED4245;
}