/* Default Styles */
html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-color: #171717;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  user-select: none;
  overflow: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  font-family: 'Dongle', sans-serif;
  color: white;
}

/* Defualt UI Styles */
.ui {
  box-shadow: 0px 0px 32px -6px rgb(0 0 0);
  border: solid 1px;
  border-color: rgb(255 255 255 / 58%);
  backdrop-filter: blur(12px);
  background-color: rgb(0 0 0 / 20%);
  border-radius: 10px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  box-shadow: 0px 0px 32px -6px rgb(0 0 0);
  border-radius: 5px;
  border: solid 1px;
  border-color: rgb(255 255 255 / 58%);
  backdrop-filter: blur(12px);
  padding: 0px 10px 0px 10px;
  transition:
  border-color 1250ms cubic-bezier(0.19, 1, 0.22, 1),
  box-shadow 1250ms cubic-bezier(0.19, 1, 0.22, 1),
  backdrop-filter 1250ms cubic-bezier(0.19, 1, 0.22, 1),
  scale 200ms ease-in;
}

.button:hover {
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 32px -6px rgb(0 0 0), inset 0 0 20px rgba(255, 255, 255, 0.508);
  backdrop-filter: blur(20px);
  cursor: pointer;
  scale: 1.05;
}

.info-texts{
  width: 95%;
  margin-top: 10px;
  font-size: 25px;
  white-space:pre-wrap;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* UI Styles */
#contents {
  margin: auto;
  width: 430px;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: 0.4s linear 0s 1 unbluring;
}

#title {
  width: 100%;
  height: 40px;
  background-color: rgb(0 0 0 / 50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#title_text{
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
}

.message-show {
  top: calc(100% - 72px);
}

.message-comeout {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Message Styles */
.message-hide {
  top: calc(100% + 40px);
}

.message-frame {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 12px;
  width: fit-content;
  max-width: 460px;
  font-size: 25px;
  height: 55px;
  position: absolute;
  transition: ease top 300ms;
}

/* Discord User Styles */
#avatar-holder {
  position: relative;
}

#avatar-img {
  width: 150px;
  height: 150px;
  margin: 20px 0px 15px 0px;
  border-radius: 100%;
  box-shadow: 0px 0px 32px -6px rgb(0 0 0);
}

#avatar-deco{
  width: 180px;
  height: 180px;
  margin: 20px 0px 15px 0px;
  background-size: 100% 100%;
  position: absolute;
  top: -15px;
  left: -15px;
}

#profile-loading{
  width: 150px;
  height: 150px;
  font-size: 40px;
  margin: 20px 0px 15px 0px;
  background-size: 100% 100%;
  position: absolute;
  top: 0%;
  backdrop-filter: blur(15px);
  background-color: rgba(100, 100, 100, 0.108);
  border-radius: 100%;
}

#user-name{
  font-size: 40px;
  height: 25px;
  text-shadow: 0 0 7px black;
}

#lang-button{
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  font-size: 18px;;
  height: 30px;
  top: 10px;
  right: 10px;
}

#discord-status {
  width: 22px;
  height: 22px;
  box-shadow: 0px 0px 14px 3px rgb(0 0 0);
  position: absolute;
  margin: 16px 16px 16px 16px;
  border-radius: 100%;
  left: 65%;
  top: 65%;

  transition: all ease 0.2s;
}

#discord-status:hover{
  scale: 1.2;
}

#status-info{
  white-space: initial;
  width: max-content;
  height: fit-content;
  opacity: 0;
  transform: translateX(27px);
  transition: ease-in-out opacity 200ms;
  padding: 0px 10px 0px 10px;
}

.status-hover{
  opacity: 1 !important;
  background-color: rgb(0 0 0 / 80%);
}

.online {
  background-color: #3BA55C;
}

.offline {
  background-color: #747F8D;
}

.idle {
  background-color: #FAA61A;
}

.dnd {
  background-color: #ED4245;
}